html{
    scroll-behavior: smooth;
}

body{
    font-family: Inter, Arial, Helvetica;
    color: #F2F3F4;
    background-color: #313338; 
    margin: 0px;
    font-size: 20px;
    scroll-padding: 50px 50px;
}

h2{
    font-family: Kanit, Inter, Arial;
    font-size: 32px;
}

h3{
    font-family: Kanit, Inter, Arial;
    font-size: 28px;
}

/*********************************************************/
/******************** SCROLL PROGRESS ********************/
/*********************************************************/
#scrollProgress{
    position: fixed;
    top: 0px;
    width: 0%;
    height: 4px;
    background: #24C5C4;
    z-index: 2;
  }

/******************************************************/
/******************** HEADER **************************/
/******************************************************/

header{
    margin: auto;
    text-align: center;
}

.navContainer{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #393D47;
    margin: auto;
    z-index: 1;
}

.subContainer{
    width: 60%;
    margin: auto;
}

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 38px;
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3 ease;
    background-color: #24C5C4;
}

#headerDiv{
    margin-top: 70px;
}

header li{
    transition: all 0.3s ease;
    list-style: none;
}

header li:hover{
    transition: all 0.3s ease;
    color: #24C5C4;
}

header a{
    color: inherit;
    text-decoration: none;
}

/* HEADERDIV */

#headerDiv{
    transition: all 0.3s ease;
    margin: auto;
    margin-top: 120px;
    width: 60%;
    border: 2px solid grey;
    border-radius: 10px;
}

#headerDiv:hover{
    transition: all 0.3s ease;
    border: 2px solid #24C5C4;
    background-color: #393D47;
}

#headerDiv span{
    transition: all 0.3s ease;
}

#headerDiv:hover span{
    transition: all 0.3s ease;
    color: #F0C808;
}

#headerDiv h1{
    font-family: Kanit, Inter, Arial;
    font-size: 56px;
    margin-top: 100px;
    margin-bottom: 0px;
}

#profilePic{
    margin-top: 70px;
    margin-bottom: 150px;
    width: 30%;
    max-width: 250px;
    min-width: 200px;
    border-radius: 100%;
}

/*************************************************************/
/*********************** GENERAL INFO ************************/
/*************************************************************/

#GeneralInfo{
    transition: all 0.3s ease;
    margin: 100px 0px;
    padding: 100px 0px;
    background-color: #24C5C4;
}

#GeneralInfo:hover{
    background-color: #1DA1A0;
}

#GeneralInfo div{
    margin: auto;
    width: 60%;
    text-align: center;
}

span{
    transition: all 0.3s ease;
}

#GeneralInfo:hover span{
    transition: all 0.3s ease;
    color: #F0C808;
}

/******************************************************/
/*********************** ABOUT ************************/
/******************************************************/

#container{
    width: 60%;
    margin: auto;
    text-align: center;
}

.ImageDiv{
    height: 100px;
}

#About img{
    padding-top: 40px;
    width: 100px;
}

#About h2{
    transition: all 0.3s ease;
    margin-bottom: 65px;
}

#About:hover h2{
    transition: all 0.3s ease;
    color: #F0C808;
    font-size: 38px;
}

#MyHistory{
    display: flex;
    gap: 10%;
    padding-bottom: 70px;
}

.School{
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 2px solid #313338;
    padding: 10px;
    border-radius: 10px;
}

.School p{
    padding: 30px;
}

.School:hover{
    transition: all 0.3s ease;
    border: 2px solid #24C5C4;
    background-color: #393D47;
}

h3{
    font-family: Kanit, Inter, Arial;
    font-size: 28px;
}

.School h3{
    margin-bottom: 0px;
    padding-top: 40px;
    transition: all 0.3s ease;
}

.School:hover h3{
    transition: all 0.3s ease;
    color: #F0C808;
    font-size: 32px;
}

.School:hover span{
    transition: all 0.3s ease;
    color: #F0C808;
}

#Hobbies{
    transition: all 0.3s ease;
    border: 2px solid #313338;
    padding-bottom: 20px;
    border-radius: 10px;
}

#Hobbies:hover{
    transition: all 0.3s ease;
    border: 2px solid #24C5C4;
    background-color: #393D47;
}

#Hobbies h3{
    transition: all 0.3s ease;
}

#Hobbies:hover h3{
    transition: all 0.3s ease;
    color: #F0C808;
    font-size: 32px;
}

#Hobbies p{
    padding: 0px 40px 40px 40px;
    margin: 0px;
}

/*****************************************************/
/*********************** WORK ************************/
/*****************************************************/

#Work{
    transition: all 0.3s ease;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border: 2px solid #313338;
    border-radius: 10px;
}

#Work:hover{
    transition: all 0.3s ease;
    border: 2px solid #24C5C4;
    background-color: #393D47;
}

#Work h2{
    display: inline-block;
    position: relative;
}

#Work h2::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F0C808;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#Work:hover h2::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#Work p{
    transition: all 0.3s ease;
    padding: 0px 30px;
}

#Work:hover span{
    transition: all 0.3s ease;
    color: #F0C808;
}

#Work a{
    transition: all 0.3s ease;
    padding: 2px 5px;
    text-decoration: none;
    color: inherit;
}

#Work:hover a{
    transition: all 0.3s ease;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #1DA1A0;
}

/* PROJEKTY */
#Work h3{
    padding-top: 40px;
}

#projects{
    padding-top: 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e f";
    grid-gap: 20px;
    place-items: center;
}
  
/* NASTAVENI GRIDU */
#a{grid-area: a;}
#b{grid-area: b;}
#c{grid-area: c;}
#d{grid-area: d;}
#e{grid-area: e;}
#f{grid-area: f;}

#projects img{
    transition: all 0.3s ease;
    width: 60%;
    margin: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects img:hover{
    transition: all 0.3s ease;
    width: 70%;
}

/********************************************************/
/*********************** CONTACT ************************/
/********************************************************/

#Contact{
    transition: all 0.3s ease;
    padding-top: 10px;
    border: 2px solid #313338;
    border-radius: 10px;
}

#Contact:hover{
    border: 2px solid #24C5C4;
    background-color: #393D47;
}

#Contact h2{
    margin-bottom: 40px;
}

#Contact:hover h2, #Contact:hover span{
    transition: all 0.3s ease;
    color: #F0C808;
}

#Contact a{
    transition: all 0.2s ease;
    text-decoration: none;
    color: inherit;
}

#Contact #link{
    padding: 2px 5px;
}

#Contact:hover #link{ 
    transition: all 0.3s ease;
    border-radius: 5px;
    background-color: #1DA1A0;
}

#Contact p{
    padding: 30px;
}

#Contact #Download{
    padding: 10px;
    background-color: #1DA1A0;
    border-radius: 7px;
}

#Contact #Download:hover{
    transition: all 0.2s ease;
    background-color: #167A7A;
}

#ContactIcons{
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#ContactIcons img{
    transition: all 0.1s ease;
    width: 60px;
}

#ContactIcons img:hover{
    transition: all 0.15s ease;
    filter: invert(1);
}

/********************************************************/
/*********************** FOOTER ************************/
/********************************************************/

footer{
    margin-top: 60px;
    transition: all 0.3s ease;
    background-color: #393D47;
    text-align: center;
}

footer img{
    transition: all 0.2s ease;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100px;
}

footer img:hover{
    transition: all 0.2s ease;
    width: 115px;
}

footer p{
    margin-bottom: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
}

footer p:last-child{
    font-size: 10px;
    padding-bottom: 30px;
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer:hover span{
    transition: all 0.3s ease;
    color: #F0C808;
}

@media(max-width: 1366px){
    #scrollProgress{
        display: none;
    }
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
        margin: 0px;
        position: fixed;
        left: -400%;
        top: 70px;
        gap: 0px;
        padding-left: 0px;
        flex-direction: column;
        background-color: #393D47;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navItem{
        margin: 16px;
    }

    .navMenu.active{
        left: 0px;
    }

    .subContainer{
        width: 80%;
    }

    #headerDiv{
        width: 80%;
    }

    #GeneralInfo div{
        width: 80%;
    }

    #container{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    #MyHistory{
        display: block;
    }

    .School:first-child{
        margin-bottom: 40px;
    }
}

@media(max-width: 768px){
    .subContainer{
        width: 90%;
    }

    .navbar .navBranding, .navbar .hamburger{
        padding: 0px 10px;
    }

    #headerDiv h1{
        margin-top: 40px;
    }

    header p{
        padding: 0px 20px;
    }

    #headerDiv img{
        margin-bottom: 40px;
    }

    #headerDiv{
        width: 90%;
    }

    #GeneralInfo div{
        width: 90%;
    }

    #container{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    #MyHistory{
        display: block;
    }

    .School:first-child{
        margin-bottom: 40px;
    }

    .School h3{
        padding-top: 30px;
    }

    #projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #projects > :nth-child(-n+3){
        display: none;
    }

    #projects img{
        width: 70%;
    }

    #projects img:hover{
        width: 70%;
    }

    #Contact > h2{
        padding: 0px 30px;
    }

    #ContactIcons h2{
        padding: 20px 0px;
    }

    #ContactIcons img{
        width: 50px;
    }

    /*******************/
    /* ACTIVE ELEMENTY */
    /*******************/
    #headerDiv.active,
    .School.active,
    #Hobbies.active,
    #Work.active{
        transition: all 0.3s ease;
        border: 2px solid #24C5C4;
        background-color: #393D47;
    }

    #headerDiv.active span{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    #GeneralInfo.active{
        background-color: #1DA1A0;
    }

    #GeneralInfo.active span{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    /* ABOUT */
    #About.active h2{
        transition: all 0.3s ease;
        color: #F0C808;
        font-size: 38px;
    }

    /* SCHOOL */
    .School.active h3{
        transition: all 0.3s ease;
        color: #F0C808;
    }
    
    .School.active span{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    /* HOBBIES */
    #Hobbies.active h3{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    /* WORK */
    #Work.active h2{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    #Work.active span{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    #Work.active a{
        transition: all 0.3s ease;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #1DA1A0;
    }

    /* CONTACT */
    #Contact.active{
        border: 2px solid #24C5C4;
        background-color: #393D47;
    }

    #Contact.active h2, #Contact.active span{
        transition: all 0.3s ease;
        color: #F0C808;
    }

    #Contact.active #link{
        transition: all 0.3s ease;
        border-radius: 5px;
        background-color: #1DA1A0;
    }

    /* FOOTER */
    footer img.active{
        transition: all 0.2s ease;
    }

    footer.active span{
        transition: all 0.7s ease;
        color: #F0C808;
    }
}
