/*
 * Login: xlukas15
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 */

* {
    font-family: Poppins, Times, serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    padding-bottom: 0.4rem;
    margin-top: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-width: 768px;
    max-width: 1200px;
    margin: auto;
}

section {
    padding-top: 60px;
    padding-bottom: 80px;
}

#heisenberg {
    display: none;
}

/*************************************************************/
/*********************** ZACATEK HEADERU *********************/
/*************************************************************/

header {
    margin-top: 50px;
    min-height: 400px;
    background-image: url("../img/header.jpg");
    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* MUSIM ZOBRAZIT CELY OBRAZEK */
}

#header-menu {
    top: -50px;
    position: relative;
    max-width: 1000px;
    margin: 10px auto 0px auto;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    vertical-align: top;
    box-shadow: 0px 10px 10px 10px white;
}

.contacts {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.phone > i {
    padding-left: 10px;
    margin-right: 0.25rem;
    color: #CC3636;
}

.mail > i {
    padding-left: 10px;
    margin-right: 0.25rem;
    color: #CC3636;
}

.networks {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: flex-end;
}

    .networks > * {
        float: right;
        padding: 0px 0.25rem;
    }

.logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 10px;
    border-top: 1px solid #e8e7e7;
}

    .logo::first-letter {
        color: #CC3636;
    }

    .logo:hover::after {
        content: "CRYSTAL PALACE";
        color: #CC3636;
    }

nav {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border-top: 1px solid #CC3636;
    font-size: 14px;
}

.logo nav {
    height: 80px;
}

.logo > a {
    font-family: Bebas Neue, Times, serif;
    font-size: 32px;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
}

    .logo > a, .logo > a:hover, .logo > a:visited, .logo > a:active {
        color: inherit;
        text-decoration: none;
    }

nav > ul {
    list-style: none;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

nav li {
    float: right;
    color: #363535;
    margin-right: 20px;
}

    li > ul {
        /* SEM PRIJDE DROPDOWN MENU */
        display: none;
    }

#header-form {
    position: absolute;
    bottom: 0;
    /**/
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    position: relative;
    font-size: 14px;
    padding: 15px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px #ffd0d0;
    /*top: 50px;*/
    /**/
    top: 50%;
    transform: translate(0%,50%);
    display: flex;
    width: fit-content;
    min-width: 600px;
}



    form > * {
        border-radius: 4px;
        padding: 10px;
        width: 150px;
        border: 1px solid #e8e7e7;
        /**/
        margin: 5px;
        min-width:125px;
    }

    form > select {
        background-color: white;
    }

    form > input[type=submit] {
        background-color: #CC3636;
        color: white;
    }

    form > input[type=date] {
        min-width: 150px;
    }
/*************************************************************/
/*********************** ZACATEK MAINU ***********************/
/*************************************************************/
section > * {
    min-width: 768px;
    max-width: 1200px;
    margin: auto;
}

/*************** ABOUT ***************/

#about {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 40% 55%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#about > .heading {
    grid-area: 2/3/2/3;
}

#about > p {
    grid-area: 3/3/3/3;
}

#about > img {
    /* width: 40%; */
    padding: 20px;
    opacity: 0.8;
    grid-area: 1/2/4/2;
}

.heading > span {
    font-family: Bebas Neue, Times, serif;
}

/*************** SERVICES ***************/

#services {
    background-color: #e8e7e7;
}

.heading > * {
    display: block;
    text-align: center;
}

.heading > span {
    color: #CC3636;
    letter-spacing: 0.4rem;
}

#services > .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    min-width: 250px;
    /*max-width: fit-content;*/
    max-width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
}

#services .section-content h3 {
    text-align: center;
}

#services img {
    height: 300px;
    object-fit: cover;
    max-width: 100%;
    opacity: 0.8;
}
#services > .section-content > .section-item {
    flex-basis: 250px;
    flex-grow: 1.5;
    max-width: 450px;
    min-width: 250px;
}
/*************** TOURS ***************/

#tours {
    background-image: url("../img/crystal-ship.svg");
    background-repeat: no-repeat;
    background-size: 50%;
}

#tours .tour-stars::before {
    font: var(--fa-font-regular);
    content: "\f005";
    color: #CC3636;
    margin-right: 4px;
}

#tours .tour-stars {
    padding-right: 8px;
    border-right: 1px solid black;
    margin-left: 3px;
}

#tours .tour-duration {
    padding-right: 8px;
    border-right: 1px solid black;
    margin-left: 3px;
}

#tours .tour-price {
    margin-left: 3px;
}

#tours .tour-duration::before {
    font: var(--fa-font-regular);
    content: "\f073";
    color: #CC3636;
    margin-right: 4px;
}

#tours .tour-price::before {
    font: var(--fa-font-brands);
    content: "\f15a";
    color: #CC3636;
    margin-right: 4px;
}

#tours .section-item {
    border-bottom: 2px solid #e8e7e7;
    display: inline-block;
}

#tours img {
    width: 40%;
    margin: 20px;
    float: right;
    opacity: 0.8;
}

#tour1 h3 {
    text-align: right;
}

#tour1 .tour-props {
    text-align: right;
}

#tour2 > img {
    float: left;
}

/*************** PRICE ***************/

#price > .section-content {
    position: relative;
    width: 100%;
    height: 600px;
    box-shadow: 0 0 30px 30px white inset
}

#price > .section-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/huel.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    opacity: 0.6;
    z-index: -1;
}

#price > .section-content > * {
    position: relative;
    z-index: 1;
}

#price .section-item {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px 10px white;
    position: absolute;
}

#price .section-item h3 {
    margin-top:  0px;
}

/* ZATIM NEBUDU UKAZOVAT */
#price .section-item span {
    display: none;
}

#price ul {
    list-style: none;
    padding-left: 0px;
}

#price ul li {
    background-image: url("../img/crystal.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 1.5;
}

#price .section-item:nth-child(1) {
    left: 50%;
    top: 50px;
}

#price .section-item:nth-child(2) {
    left: 65%;
    top: 200px;
}

#price .section-item:nth-child(3) {
    left: 75%;
    top: 400px;
}

/*************** CLIENTS ***************/

#clients img {
    width: 200px;
    height: 200px;
    opacity: 0.8;
    box-shadow: 0 0 10px 4px #888888;
}

#clients blockquote {
    display: inline-block;
    width: 50%;
    padding: 20px;
    text-align: center;
}

#clients .section-item:nth-child(odd) img {
    border-radius: 50% 25%;
}

#clients .section-item:nth-child(even) img {
    border-radius: 25% 50%;
}

#clients .section-item:nth-child(odd) blockquote {
    background-color: #e8e7e7;
    border-radius: 25% 55%;
}

#clients .section-item:nth-child(even) blockquote {
    background-color: #e8e7e7;
    border-radius: 55% 25%;
}

/***************************************************************/
/*********************** ZACATEK FOOTERU ***********************/
/***************************************************************/
